.to-receive-container {
    padding: 20px;
  }
  
  .order-summary {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .product-details {
    display: flex;
    margin-bottom: 10px;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .product-info {
    flex: 1;
  }
  
  .eta-details {
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
  }
  
  .btn-shipped-orders {
    padding: 10px 20px;
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .btn-shipped-orders:hover {
    text-decoration: underline rgb(0, 116, 211);
    text-decoration-thickness: 10px;
  }
  
  /* Active state for the selected button */
  .btn-shipped-orders.active {
    text-decoration: underline rgb(0, 116, 211);
    text-decoration-thickness: 10px;
  }
  
  